section.GameItem {
  .card-body {
    & {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .section-1st {
      & {
        margin-right: $spacer;
      }

      .item-cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius;

        width: 188px;
        height: 188px;
      }

      .item-name {
        display: none;
      }
    }

    .section-2nd {
      & {
        border-right: 1px $border-color dashed;
        flex: 1;
        margin-right: $spacer * 2;
        padding-right: $spacer * 2;
      }

      .item-name {
        a, a:link, a:visited, a:hover {
          color: $body-color;
        }
      }

      .item-summary {
        & {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }

    .section-3rd {
      & {
        width: 240px;
      }
    }
  }

  @include media-breakpoint-down("lg") {
    .card-body {
      & {
        flex-direction: column;
      }

      .section-1st {
        & {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          margin-bottom: $spacer;
          margin-right: 0;
          padding-right: 0;
        }

        .item-cover {
          margin-right: $spacer;

          width: 100px;
          height: 100px;
        }

        .item-name {
          & {
            display: block;
            flex: 1;
          }

          a, a:link, a:visited, a:hover {
            color: $body-color;
          }
        }
      }

      .section-2nd {
        & {
          border-right: none;
          margin-right: 0;
        }

        .item-name {
          display: none;
        }
      }

      .section-3rd {
        width: auto;
      }
    }
  }
}
