section.HeaderComponent {
  $header-height: 80px;
  $header-inactive-color: #8b88ff;

  & {
    background-color: $primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
  }

  .section-1st {
    & {
      display: flex;
      justify-content: center;
      align-items: center;

      width: $header-height;
      height: $header-height;
    }
  }

  .section-2nd {
    & {
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 1;

      height: $header-height;
    }

    @import "./components/SearchForm";
  }

  .section-3rd {
    & {
      display: flex;
      justify-content: center;
      align-items: center;

      width: $header-height;
      height: $header-height;
    }

    a {
      & {
        color: $header-inactive-color;
        font-size: $font-size-lg;
      }

      &:link, &:visited, &:hover {
        color: $header-inactive-color;
      }
    }
  }

  @include media-breakpoint-down("lg") {
    .section-2nd {
      .search-container {
        & {
          border-radius: 0;

          flex: 1;

          width: inherit;
          height: $header-height;
        }
      }
    }

    .section-3rd {
      & {
        display: none;
      }
    }
  }
}
