.search-container {
  & {
    background-color: #4e4ac8;
    border-radius: $border-radius;

    display: flex;

    padding-left: 1rem;
    padding-right: 1rem;

    width: 420px;
    height: $header-height - 32px;
  }

  form {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex: 1;
  }

  .search-input {
    & {
      flex: 1;

      margin-right: .5rem;
    }

    .form-control {
      & {
        color: $white;

        background-color: transparent;
        border-color: transparent;

        padding: 0;
      }

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: $header-inactive-color;
      }
    }
  }

  .search-action {
    & {
      color: $header-inactive-color;

      font-size: $font-size-lg;
    }
  }
}
